$media-s: 400px;
$media-m: 768px;
$media-l: 1400px;
$media-xl: 1800px;

$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;

$lite-grey: #f7f8f8;
$med-lite-grey: #e0e0e0;
$med-grey: #646e73;
$med-dark-grey: #8b8680;
$black: #0e1e25;
$primary: #146396;
$primary-dark: #15847d;
$accent: #e29e21;
$accent-dark: #cb8e1d;
$error: #cc0000;

$font-default: "Raleway", sans-serif;
